<ul id= "status_list">
<% for status in current_user.statuses %>
<li <% if current_user.statuses.first == status%> class= "first"<% end %>>

	<%= image_tag current_user.gravatar_url %>
	
		<%= link_to current_user.username, :controller =>"home", :action => "show", :id => current_user.id , data: {:username => current_user.username} %>
		<%= status.content %>
	
	<div class= "time_ago">
			<%= distance_of_time_in_words_to_now(status.created_at) %>ago
	</div>
</li>
<% end %>
<% for user in current_user.friends %>
	<% for status in user.statuses %>
	<li>
		<%= image_tag status.user.gravatar_url %>
		
		<%= link_to user.username, :controller =>"home", :action => "show", :id => user.id , data: {:username => user.username} %>
		<%= status.content %>
				
		<div class= "time_ago">
			<%= distance_of_time_in_words_to_now(status.created_at) %>ago
		</div>
	</li>
	<% end %>	
<% end %>
</ul>